In [48]:
import sys

In [49]:
!{sys.executable} -m pip install google-services-api

Requirement already satisfied: google-services-api in /home/gordo/anaconda3/envs/betaProjects/lib/python3.10/site-packages (1.4.0)
Requirement already satisfied: requests in /home/gordo/anaconda3/envs/betaProjects/lib/python3.10/site-packages (from google-services-api) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/gordo/anaconda3/envs/betaProjects/lib/python3.10/site-packages (from requests->google-services-api) (2020.6.20)
Requirement already satisfied: idna<4,>=2.5 in /home/gordo/anaconda3/envs/betaProjects/lib/python3.10/site-packages (from requests->google-services-api) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/gordo/anaconda3/envs/betaProjects/lib/python3.10/site-packages (from requests->google-services-api) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/gordo/anaconda3/envs/betaProjects/lib/python3.10/site-packages (from requests->google-services-api) (1.26.9)

In [50]:
import json
import pandas as pd
from outscraper import ApiClient

In [51]:
!{sys.executable} -m pip install openpyxl

Requirement already satisfied: openpyxl in /home/gordo/anaconda3/envs/betaProjects/lib/python3.10/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /home/gordo/anaconda3/envs/betaProjects/lib/python3.10/site-packages (from openpyxl) (1.1.0)

In [52]:
api_client = ApiClient(api_key='Z29vZ2xlLW9hdXRoMnwxMTE0OTA0MzI1MDM2NTczMTMwODl8NDc3MzA4N2MxNw')

In [ ]:
result = api_client.google_maps_search('dallas hotels', limit=200, language='es')

result = api_client.google_maps_search([
    '75219 hotel',
    '75225 hotel',
    '75226 hotel',
    '75230 hotel'
], language='es')

In [54]:

for i in result:
    df_table = pd.DataFrame(i)

In [55]:
df_table

,query,name,full_address,borough,street,city,postal_code,country_code,country,us_state,...,owner_id,verified,owner_title,owner_link,location_link,reviews_per_score_1,reviews_per_score_2,reviews_per_score_3,reviews_per_score_4,reviews_per_score_5
0,75230 hotel,SpringHill Suites by Marriott Dallas Central E...,"10111 N Central Expy, Dallas, TX 75231",North Dallas,10111 N Central Expy,Dallas,75231,US,United States of America,Texas,...,105290183210193599812,True,SpringHill Suites by Marriott Dallas Central E...,https://www.google.com/maps/contrib/1052901832...,https://www.google.com/maps/place/SpringHill+S...,NaN,NaN,NaN,NaN,NaN
1,75230 hotel,Sonesta ES Suites Dallas Central Expressway,"10333 N Central Expy, Dallas, TX 75231",North Dallas,10333 N Central Expy,Dallas,75231,US,United States of America,Texas,...,113920827595476705172,True,Sonesta ES Suites Dallas Central Expressway,https://www.google.com/maps/contrib/1139208275...,https://www.google.com/maps/place/Sonesta+ES+S...,NaN,NaN,NaN,NaN,NaN
2,75230 hotel,Cooper Hotel & Conference Center,"12230 Preston Rd, Dallas, TX 75230",North Dallas,12230 Preston Rd,Dallas,75230,US,United States of America,Texas,...,115595077926957980250,True,Cooper Hotel & Conference Center,https://www.google.com/maps/contrib/1155950779...,https://www.google.com/maps/place/Cooper+Hotel...,NaN,NaN,NaN,NaN,NaN
3,75230 hotel,La Quinta Inn & Suites by Wyndham Dallas North...,"10001 N Central Expy, Dallas, TX 75231",North Dallas,10001 N Central Expy,Dallas,75231,US,United States of America,Texas,...,107385096564268018520,True,La Quinta Inn & Suites by Wyndham Dallas North...,https://www.google.com/maps/contrib/1073850965...,https://www.google.com/maps/place/La+Quinta+In...,NaN,NaN,NaN,NaN,NaN
4,75230 hotel,"Studio 6 Dallas, TX - North - Richardson","12301 N Central Expy, Dallas, TX 75251",North Dallas,12301 N Central Expy,Dallas,75251,US,United States of America,Texas,...,117917432805950120959,True,"Studio 6 Dallas, TX - North - Richardson",https://www.google.com/maps/contrib/1179174328...,https://www.google.com/maps/place/Studio+6+Dal...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,75230 hotel,Bestway Inn,"13220 Esperanza Rd, Dallas, TX 75240",Far North Dallas,13220 Esperanza Rd,Dallas,75240,US,United States of America,Texas,...,None,False,Bestway Inn,None,https://www.google.com/maps/place/Bestway+Inn/...,NaN,NaN,NaN,NaN,NaN
76,75230 hotel,Orlando Remington Management Corporation,"14185 Dallas Pkwy # 1150, Dallas, TX 75254",None,14185 Dallas Pkwy # 1150,Dallas,75254,US,United States of America,Texas,...,None,False,Orlando Remington Management Corporation,None,https://www.google.com/maps/place/Orlando+Remi...,NaN,NaN,NaN,NaN,NaN
77,75230 hotel,Cloister,"9101 N Central Expy # 630, Dallas, TX 75231",North Dallas,9101 N Central Expy # 630,Dallas,75231,US,United States of America,Texas,...,None,False,Cloister,None,https://www.google.com/maps/place/Cloister/@32...,NaN,NaN,NaN,NaN,NaN
78,75230 hotel,Como Motel,"721 S Central Expy, Richardson, TX 75080",None,721 S Central Expy,Richardson,75080,US,United States of America,Texas,...,None,False,Como Motel,None,https://www.google.com/maps/place/Como+Motel/@...,NaN,NaN,NaN,NaN,NaN
79,75230 hotel,Sleep Inn Dallas Northwest - Irving,"2208 Royal Ln Building A, Dallas, TX 75229",Northwest Dallas,2208 Royal Ln Building A,Dallas,75229,US,United States of America,Texas,...,111887127707352825478,True,Sleep Inn Dallas Northwest - Irving,https://www.google.com/maps/contrib/1118871277...,https://www.google.com/maps/place/Sleep+Inn+Da...,NaN,NaN,NaN,NaN,NaN

In [56]:
for i in range(50):
    try:
        df_table.drop(f'reviews_per_score_{i}', axis =1, inplace=True)
    except KeyError:
        continue

In [57]:
df_table.drop(f'reviews_per_score', axis=1, inplace=True)
df_table.drop(f'full_address', axis=1, inplace=True)
df_table.drop(f'borough', axis=1, inplace=True)
df_table.drop(f'country', axis=1, inplace=True)
df_table.drop(f'owner_id', axis=1, inplace=True)
df_table.drop(f'owner_link', axis=1, inplace=True)
df_table.drop(f'location_link', axis=1, inplace=True)
df_table.drop(f'owner_title', axis=1, inplace=True)
df_table.drop(f'menu_link', axis=1, inplace=True)
df_table.drop(f'order_links', axis=1, inplace=True)
df_table.drop(f'reservation_links', axis=1, inplace=True)
df_table.drop(f'working_hours', axis=1, inplace=True)
df_table.drop(f'working_hours_old_format', axis=1, inplace=True)
df_table.drop(f'about', axis=1, inplace=True)
df_table.drop(f'range', axis=1, inplace=True)
df_table.drop(f'plus_code', axis=1, inplace=True)
df_table.drop(f'latitude', axis=1, inplace=True)
df_table.drop(f'us_state', axis=1, inplace=True)

In [58]:
df_table.drop(f'longitude', axis=1, inplace=True)
df_table.drop(f'time_zone', axis=1, inplace=True)
df_table.drop(f'popular_times', axis=1, inplace=True)
df_table.drop(f'google_id', axis=1, inplace=True)
df_table.drop(f'place_id', axis=1, inplace=True)
df_table.drop(f'cid', axis=1, inplace=True)
df_table.drop(f'reviews_link', axis=1, inplace=True)
df_table.drop(f'reviews_id', axis=1, inplace=True)
df_table.drop(f'photo', axis=1, inplace=True)
df_table.drop(f'street_view', axis=1, inplace=True)
df_table.drop(f'booking_appointment_link', axis=1, inplace=True)

In [59]:
df_table.drop(f'type', axis=1, inplace=True)
df_table.drop(f'located_google_id', axis=1, inplace=True)
df_table.drop(f'category', axis=1, inplace=True)
df_table.drop(f'subtypes', axis=1, inplace=True)
df_table.drop(f'posts', axis=1, inplace=True)
df_table.drop(f'reviews', axis=1, inplace=True)
df_table.drop(f'reviews_data', axis=1, inplace=True)
df_table.drop(f'reviews_tags', axis=1, inplace=True)
df_table.drop(f'rating', axis=1, inplace=True)
df_table.drop(f'photos_count', axis=1, inplace=True)

In [60]:
df_table.drop(f'logo', axis=1, inplace=True)
df_table.drop(f'description', axis=1, inplace=True)
df_table.drop(f'located_in', axis=1, inplace=True)

In [61]:
df_table.drop(f'query', axis=1, inplace=True)

In [62]:
df_reordered = df_table.reindex(columns=['name','street','city','state','country_code','postal_code','phone','site','business_status','verified'])

In [63]:
df_reordered.insert(1, 'nombre', '')
df_reordered.insert(2, 'apellido', '')
df_reordered.insert(3, 'cargo', '')
df_reordered.insert(10, 'telefono directo', '')
df_reordered.insert(11, 'correo', '')
df_reordered.insert(12, 'correo directo', '')
df_reordered.insert(14, 'facebook', '')
df_reordered.insert(15, 'instagram', '')
df_reordered.insert(16, 'linkedin', '')
df_reordered.insert(17, 'twitter', '')

In [64]:
df_reordered = df_reordered.sort_values('postal_code')

In [65]:
df_reordered

,name,nombre,apellido,cargo,street,city,state,country_code,postal_code,phone,telefono directo,correo,correo directo,site,facebook,instagram,linkedin,twitter,business_status,verified
54,Courtyard by Marriott Dallas Addison/Midway,,,,4165 Proton Dr,Addison,Texas,US,75001,+1 972-490-7390,,,,https://www.marriott.com/hotels/travel/dalad-c...,,,,,OPERATIONAL,True
72,"Crowne Plaza Dallas Near Galleria-Addison, an ...",,,,14315 Midway Rd,Addison,Texas,US,75001,+1 972-980-8877,,,,https://www.ihg.com/crowneplaza/hotels/us/en/a...,,,,,OPERATIONAL,True
53,Radisson Hotel Dallas North-Addison,,,,4960 Arapaho Rd,Addison,Texas,US,75001,+1 469-518-2189,,,,https://www.radissonhotelsamericas.com/en-us/h...,,,,,OPERATIONAL,True
78,Como Motel,,,,721 S Central Expy,Richardson,Texas,US,75080,+1 972-235-5266,,,,None,,,,,OPERATIONAL,False
62,"Motel 6 Laramie, WY",,,,621 Plaza Ln,Richardson,Texas,US,75080,+1 307-742-2307,,,,https://www.motel6.com/en/home/motels.wy.laram...,,,,,OPERATIONAL,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,Comfort Inn Dallas Park Central,,,,7815-A Lyndon B Johnson Fwy,Dallas,Texas,US,75251,+1 972-616-2400,,,,https://www.choicehotels.com/texas/dallas/comf...,,,,,OPERATIONAL,True
59,SpringHill Suites by Marriott Dallas Richardso...,,,,18180 Highland Spgs,Dallas,Texas,US,75252,+1 469-498-1818,,,,https://www.marriott.com/hotels/travel/dalph-s...,,,,,OPERATIONAL,True
36,Hyatt Place Dallas-North/By The Galleria,,,,5229 Spring Valley Rd,Dallas,Texas,US,75254,+1 972-716-2001,,,,https://www.hyatt.com/en-US/hotel/texas/hyatt-...,,,,,OPERATIONAL,True
44,Best Western Plus Addison/Dallas Hotel,,,,14975 Landmark Blvd,Dallas,Texas,US,75254,+1 972-701-0881,,,,https://www.bestwestern.com/en_US/book/hotel-r...,,,,,OPERATIONAL,True
76,Orlando Remington Management Corporation,,,,14185 Dallas Pkwy # 1150,Dallas,Texas,US,75254,+1 972-778-9400,,,,None,,,,,OPERATIONAL,False

In [66]:
webs = df_reordered['site'].values

In [67]:
n=28

fractioned_list = [webs[i:i + n] for i in range(0, len(webs), n)]

In [72]:
webs_1 = fractioned_list[0]
webs_2 = fractioned_list[1]
webs_3 = fractioned_list[2]
webs_4 = fractioned_list[3]
webs_5 = fractioned_list[4]
webs_6 = fractioned_list[5]
webs_7 = fractioned_list[6]
# webs_8 = fractioned_list[7]
# webs_9 = fractioned_list[8]
# webs_7 = fractioned_list[6]
# webs_10 = fractioned_list[9]
# webs_11 = fractioned_list[10]
# webs_12 = fractioned_list[11]
# webs_13 = fractioned_list[12]
# webs_14 = fractioned_list[13]

In [ ]:
webs_3

array(['https://www.fairmont.com/dallas/?y_source=1_MTIzNjE0MjgtNzE1LWxvY2F0aW9uLndlYnNpdGU%3D',
       'https://www.hilton.com/en/hotels/dfwstqq-the-statler-dallas/?SEO_id=GMB-AMER-QQ-DFWSTQQ&y_source=1_ODMxODAxNi03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D',
       'https://www.marriott.com/hotels/travel/dalbw-renaissance-saint-elm-dallas-downtown-hotel/',
       'https://www.hilton.com/en/hotels/dfwhaqq-hall-arts-dallas/?SEO_id=GMB-AMER-QQ-DFWHAQQ&y_source=1_MTc3NTYzNTktNzE1LWxvY2F0aW9uLndlYnNpdGU%3D',
       'https://www.marriott.com/hotels/travel/daldt-dallas-marriott-city-center/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2&y_source=1_NzQ4MDMxLTcxNS1sb2NhdGlvbi53ZWJzaXRl',
       'https://www.ritzcarlton.com/en/hotels/dallas/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2&y_source=1_NTc3Mjc4LTcxNS1sb2NhdGlvbi53ZWJzaXRl',
       'http://www.crescentcourt.com/',
       'https://theguild.co/property/the-guild-downtown-elm-st/?utm_source=GBP&utm_medium=organic&utm_campaign=stay_guild',
       'https://www.ihg.com/crowneplaza/hotels/us/en/dallas/dalem/hoteldetail?cm_mmc=GoogleMaps-_-CP-_-US-_-DALEM',
       'https://www.omnihotels.com/hotels/dallas?utm_source=gmblisting&utm_medium=organic',
       'https://www.marriott.com/hotels/travel/daldw-the-westin-dallas-downtown/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2&y_source=1_MzEwMTg3Ny03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D',
       'https://www.marriott.com/hotels/travel/dalwd-courtyard-dallas-downtown-reunion-district/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2&y_source=1_OTkzMDYxOS03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D',
       'https://www.marriott.com/hotels/travel/daldl-aloft-dallas-downtown/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2&y_source=1_MTUwMjY3NC03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D',
       'https://www.marriott.com/hotels/travel/dalwe-springhill-suites-dallas-downtown-west-end/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2&y_source=1_MTQ1ODg4Ny03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D',
       'https://www.adolphus.com/?utm_source=local-listings&utm_medium=organic&utm_campaign=gmb',
       'https://www.hilton.com/en/hotels/dalelhw-homewood-suites-dallas-downtown-tx/?SEO_id=GMB-AMER-HW-DALELHW&y_source=1_MjA2OTQ3MC03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D',
       'https://facebook.com/trinitysuites/', None, None,
       'https://www.choicehotels.com/texas/dallas/quality-inn-hotels/txn12?mc=llgoxxpx',
       'https://www.bestwestern.com/en_US/book/hotel-rooms.44555.html?iata=00171880&ssob=BLBWI0004G&cid=BLBWI0004G:google:gmb:44555',
       'https://www.hilton.com/en/hotels/dfwrmpy-canopy-dallas-uptown/?SEO_id=GMB-AMER-PY-DFWRMPY&y_source=1_OTU4Njg4NC03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D',
       'http://www.thelumendallas.com/',
       'https://www.hilton.com/en/hotels/dalcuqq-the-highland-dallas/?SEO_id=GMB-AMER-QQ-DALCUQQ&y_source=1_MTg4MTIwMC03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D',
       'https://www.wyndhamhotels.com/laquinta/dallas-texas/la-quinta-inn-dallas-uptown/overview?CID=LC:LQ::GGL:RIO:National:53269&iata=00093796',
       'https://www.hilton.com/en/hotels/dfwcndt-doubletree-dallas-campbell-centre/?SEO_id=GMB-AMER-DT-DFWCNDT&y_source=1_MTM3MjYzMC03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D',
       'https://www.thebeemanhotel.com/?utm_source=google&utm_medium=organic&utm_campaign=business_listing',
       'https://www.thevillagedallas.com/dreyhotel/'], dtype=object)

In [73]:
api_client = ApiClient(api_key='Z29vZ2xlLW9hdXRoMnwxMTE0OTA0MzI1MDM2NTczMTMwODl8NDc3MzA4N2MxNw')

In [ ]:
# Search for businesses in specific locations:
contacts_1 = api_client.emails_and_contacts(webs_1)
contacts_2 = api_client.emails_and_contacts(webs_2)
contacts_3 = api_client.emails_and_contacts(webs_3)
contacts_4 = api_client.emails_and_contacts(webs_4)
contacts_5 = api_client.emails_and_contacts(webs_5)
contacts_6 = api_client.emails_and_contacts(webs_6)
contacts_7 = api_client.emails_and_contacts(webs_7)
# contacts_8 = api_client.emails_and_contacts(webs_8)
# contacts_9 = api_client.emails_and_contacts(webs_9)
# contacts_10 = api_client.emails_and_contacts(webs_10)
# contacts_11 = api_client.emails_and_contacts(webs_11)
# contacts_12 = api_client.emails_and_contacts(webs_12)
# contacts_13 = api_client.emails_and_contacts(webs_13)
# contacts_14 = api_client.emails_and_contacts(webs_14)

In [74]:
df_contacts_1 = pd.json_normalize(contacts_1)
df_contacts_2 = pd.json_normalize(contacts_2)
df_contacts_3 = pd.json_normalize(contacts_3)
df_contacts_4 = pd.json_normalize(contacts_4)
df_contacts_5 = pd.json_normalize(contacts_5)
df_contacts_6 = pd.json_normalize(contacts_6)
df_contacts_7 = pd.json_normalize(contacts_7)

In [75]:
df_contacts = pd.concat([df_contacts_1, df_contacts_2, df_contacts_3, df_contacts_4, df_contacts_5, df_contacts_6], axis=0)

In [76]:
df_contacts

,query,domain,emails,external_emails,phones,site_data.description,site_data.keywords,site_data.title,socials.facebook,socials.instagram,socials.twitter,socials.linkedin,socials.youtube,socials.whatsapp,site_data.generator,socials.yelp
0,https://www.marriott.com/hotels/travel/dalic-r...,marriott.com,"[{'value': 'privacy@marriott.com', 'sources': ...",[{'value': 'identitymembership@cosmopolitanlas...,"[{'value': '', 'sources': [{'ref': 'https://ww...",Reserve your stay at Sheraton Orlando North Ho...,Marriott,"Maitland, FL Hotels in North Orlando | Sherato...",https://www.facebook.com/sheratonorlandonorth,https://www.instagram.com/sheratonorlandonorth,https://twitter.com/SheratonOrland,https://www.linkedin.com/company/marriott-inte...,https://www.youtube.com/channel/UCPRdWKjagTQ1K...,https://wa.me/62215711577,NaN,NaN
1,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,https://www.hyatt.com/en-US/hotel/texas/hyatt-...,hyatt.com,"[{'value': 'lgath-sales@hyatt.com', 'sources':...","[{'value': 'salesphxaz@andaz.com', 'sources': ...","[{'value': '18086611234', 'sources': [{'ref': ...","Hyatt Residence Club Key West, Beach House pro...",NaN,"Hyatt Residence Club Key West, Beach House",https://www.facebook.com/hyattregencywashingtondc,https://www.instagram.com/explore,https://twitter.com/hashtag/,NaN,NaN,NaN,NaN,http://www.yelp.com/biz/the-rooftop-by-stk-san...
26,https://www.hilton.com/en/hotels/daltxes-embas...,hilton.com,"[{'value': 'hiltonhonors@hilton.com', 'sources...","[{'value': 'tiger.chen@hiilton.com', 'sources'...","[{'value': '18004458667', 'sources': [{'ref': ...",Explore Hilton's portfolio of hotels and disti...,"hotels,hotel reservations,hotel discount,leisu...",Hotels by Hilton - Book the Best Rates Across ...,https://www.facebook.com/conradhotels,https://instagram.com/conradhotels,https://www.twitter.com/conradhotels,NaN,https://www.youtube.com/user/ConradHotels,NaN,"WPML ver:4.5.5 stt:5,7,60,62,9,12,38,1,18,4,3,...",NaN
27,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
w = df_contacts['emails'].apply(pd.Series)
x = w.apply(pd.Series)

def contact_generator(x):
    for column in x:
        y = pd.json_normalize(x[column].values)
        yield y

contact_generator = contact_generator(x)

z = next(contact_generator)
a = contact_generator.__next__()
b = contact_generator.__next__()
c = contact_generator.__next__()
d = contact_generator.__next__()
e = contact_generator.__next__()
f = contact_generator.__next__()
g = contact_generator.__next__()
h = contact_generator.__next__()
i = contact_generator.__next__()
j = contact_generator.__next__()
k = contact_generator.__next__()
l = contact_generator.__next__()
m = contact_generator.__next__()
ñ = contact_generator.__next__()
o = contact_generator.__next__()
p = contact_generator.__next__()
q = contact_generator.__next__()
r = contact_generator.__next__()
s = contact_generator.__next__()
t = contact_generator.__next__()

df_emails = pd.concat([a, b, c, d, e, f, g, h, i, j, k, l, m, ñ, o, p, q, r, s, t], axis = 1)

In [79]:
df_emails.drop(f'sources', axis=1, inplace=True)

In [80]:
df_emails = pd.DataFrame(df_emails)

In [81]:
df_emails.rename({'value':'email'}, axis='columns', inplace=True)

In [82]:
w = df_contacts['external_emails'].apply(pd.Series)
x = w.apply(pd.Series)

def contact_generator(x):
    for column in x:
        y = pd.json_normalize(x[column].values)
        yield y

contact_generator = contact_generator(x)

z = next(contact_generator)
a = contact_generator.__next__()
b = contact_generator.__next__()
c = contact_generator.__next__()
d = contact_generator.__next__()
e = contact_generator.__next__()
f = contact_generator.__next__()
g = contact_generator.__next__()
h = contact_generator.__next__()
i = contact_generator.__next__()


df_external_emails = pd.concat([a, b, c, d, e, f, g, h, i], axis = 1)

In [83]:
df_external_emails.drop(f'sources', axis=1, inplace=True)

In [84]:
df_external_emails = pd.DataFrame(df_external_emails)

In [85]:
df_external_emails.rename({'value':'external_email'}, axis='columns', inplace=True)

In [87]:
w = df_contacts['phones'].apply(pd.Series)
x = w.apply(pd.Series)

def contact_generator(x):
    for column in x:
        y = pd.json_normalize(x[column].values)
        yield y

contact_generator = contact_generator(x)

z = next(contact_generator)
a = contact_generator.__next__()
b = contact_generator.__next__()
c = contact_generator.__next__()
d = contact_generator.__next__()
e = contact_generator.__next__()
f = contact_generator.__next__()
g = contact_generator.__next__()
h = contact_generator.__next__()
i = contact_generator.__next__()


df_phones = pd.concat([a, b, c, d, e, f, g, h, i, j], axis = 1)

In [88]:
df_phones.drop(f'sources', axis=1, inplace=True)

In [89]:
df_phones = pd.DataFrame(df_phones)

In [90]:
df_phones.rename({'value':'Phone'}, axis='columns', inplace=True)

In [91]:
df_reordered.reset_index(inplace=True, drop=True)
df_contacts.reset_index(inplace=True, drop=True)
df_emails.reset_index(inplace=True, drop=True)
df_external_emails.reset_index(inplace=True, drop=True)
df_phones.reset_index(inplace=True, drop=True)

In [92]:
df_contacts = pd.concat([df_contacts, df_emails, df_external_emails, df_phones], axis=1)

In [93]:
df_contacts.drop(f'emails', axis=1, inplace=True)
df_contacts.drop(f'external_emails', axis=1, inplace=True)
df_contacts.drop(f'phones', axis=1, inplace=True)
df_contacts.drop(f'query', axis=1, inplace=True)
df_contacts.drop(f'site_data.description', axis=1, inplace=True)
df_contacts.drop(f'site_data.keywords', axis=1, inplace=True)
df_contacts.drop(f'site_data.title', axis=1, inplace=True)

In [94]:
df_contacts.drop(f'site_data.generator',axis=1, inplace=True)
df_contacts.drop(f'socials.yelp',axis=1, inplace=True)

In [95]:
df_contacts

,domain,socials.facebook,socials.instagram,socials.twitter,socials.linkedin,socials.youtube,socials.whatsapp,email,full_name,title,...,Phone,Phone,Phone,Phone,Phone,Phone,Phone,Phone,Phone,Phone
0,marriott.com,https://www.facebook.com/sheratonorlandonorth,https://www.instagram.com/sheratonorlandonorth,https://twitter.com/SheratonOrland,https://www.linkedin.com/company/marriott-inte...,https://www.youtube.com/channel/UCPRdWKjagTQ1K...,https://wa.me/62215711577,marriottdpo@marriott.com,NaN,NaN,...,1,27,49,+1 800-627-7468,NaN,NaN,NaN,NaN,NaN,cyndi.min@marriott.com
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,hyatt.com,https://www.facebook.com/hyattregencywashingtondc,https://www.instagram.com/explore,https://twitter.com/hashtag/,NaN,NaN,NaN,todd.garvin@hyatt.com,NaN,NaN,...,1,18086674727,16463641234,2122291948,18316201234,8316225445,12399477300,17758320220,492218281234,rajyasree.sen@hyatt.com
166,hilton.com,https://www.facebook.com/conradhotels,https://instagram.com/conradhotels,https://www.twitter.com/conradhotels,NaN,https://www.youtube.com/user/ConradHotels,NaN,mexicohiltonhonors@hilton.com,NaN,NaN,...,18004466677,18882259664,18444428746,18003622779,18777829444,18002255466,18443827378,NaN,NaN,andrew.mclachlan@hilton.com
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
df_hotels_contacts = pd.concat([df_reordered, df_contacts], axis=1)

In [97]:
df_hotels_contacts

,name,nombre,apellido,cargo,street,city,state,country_code,postal_code,phone,...,Phone,Phone,Phone,Phone,Phone,Phone,Phone,Phone,Phone,Phone
0,Courtyard by Marriott Dallas Addison/Midway,,,,4165 Proton Dr,Addison,Texas,US,75001,+1 972-490-7390,...,1,27,49,+1 800-627-7468,NaN,NaN,NaN,NaN,NaN,cyndi.min@marriott.com
1,"Crowne Plaza Dallas Near Galleria-Addison, an ...",,,,14315 Midway Rd,Addison,Texas,US,75001,+1 972-980-8877,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Radisson Hotel Dallas North-Addison,,,,4960 Arapaho Rd,Addison,Texas,US,75001,+1 469-518-2189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Como Motel,,,,721 S Central Expy,Richardson,Texas,US,75080,+1 972-235-5266,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Motel 6 Laramie, WY",,,,621 Plaza Ln,Richardson,Texas,US,75080,+1 307-742-2307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,18086674727,16463641234,2122291948,18316201234,8316225445,12399477300,17758320220,492218281234,rajyasree.sen@hyatt.com
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18004466677,18882259664,18444428746,18003622779,18777829444,18002255466,18443827378,NaN,NaN,andrew.mclachlan@hilton.com
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df_hotels_contacts.to_excel('hoteles_mas_contactos.xlsx', index=False, encoding='UTF-8')