In [ ]:
import sys

In [ ]:
!{sys.executable} -m pip install google-services-api

In [ ]:
import json
import pandas as pd
from outscraper import ApiClient

In [ ]:
!{sys.executable} -m pip install openpyxl

In [ ]:
api_client = ApiClient(api_key='Z29vZ2xlLW9hdXRoMnwxMTE0OTA0MzI1MDM2NTczMTMwODl8NDc3MzA4N2MxNw')

# result = api_client.google_maps_search('dallas restaurants', limit=200, language='es')

In [ ]:
result = api_client.google_maps_search([
    '75219 hotels',
    '75225 hotels',
    '75226 hotels',
    '75230 hotels'
], language='es')

In [ ]:
for i in result:
    df_table = pd.DataFrame(i)

In [ ]:
df_table

In [ ]:
for i in range(50):
    try:
        df_table.drop(f'reviews_per_score_{i}', axis =1, inplace=True)
    except KeyError:
        continue

In [ ]:
df_table.drop(f'reviews_per_score', axis=1, inplace=True)
df_table.drop(f'full_address', axis=1, inplace=True)
df_table.drop(f'borough', axis=1, inplace=True)
df_table.drop(f'country', axis=1, inplace=True)
df_table.drop(f'owner_id', axis=1, inplace=True)
df_table.drop(f'owner_link', axis=1, inplace=True)
df_table.drop(f'location_link', axis=1, inplace=True)
df_table.drop(f'owner_title', axis=1, inplace=True)
df_table.drop(f'menu_link', axis=1, inplace=True)
df_table.drop(f'order_links', axis=1, inplace=True)
df_table.drop(f'reservation_links', axis=1, inplace=True)
df_table.drop(f'working_hours', axis=1, inplace=True)
df_table.drop(f'working_hours_old_format', axis=1, inplace=True)
df_table.drop(f'about', axis=1, inplace=True)
df_table.drop(f'range', axis=1, inplace=True)
df_table.drop(f'plus_code', axis=1, inplace=True)
df_table.drop(f'latitude', axis=1, inplace=True)
df_table.drop(f'us_state', axis=1, inplace=True)

In [ ]:
df_table.drop(f'longitude', axis=1, inplace=True)
df_table.drop(f'time_zone', axis=1, inplace=True)
df_table.drop(f'popular_times', axis=1, inplace=True)
df_table.drop(f'google_id', axis=1, inplace=True)
df_table.drop(f'place_id', axis=1, inplace=True)
df_table.drop(f'cid', axis=1, inplace=True)
df_table.drop(f'reviews_link', axis=1, inplace=True)
df_table.drop(f'reviews_id', axis=1, inplace=True)
df_table.drop(f'photo', axis=1, inplace=True)
df_table.drop(f'street_view', axis=1, inplace=True)
df_table.drop(f'booking_appointment_link', axis=1, inplace=True)

In [ ]:
df_table.drop(f'type', axis=1, inplace=True)
df_table.drop(f'located_google_id', axis=1, inplace=True)
df_table.drop(f'category', axis=1, inplace=True)
df_table.drop(f'subtypes', axis=1, inplace=True)
df_table.drop(f'posts', axis=1, inplace=True)
df_table.drop(f'reviews', axis=1, inplace=True)
df_table.drop(f'reviews_data', axis=1, inplace=True)
df_table.drop(f'reviews_tags', axis=1, inplace=True)
df_table.drop(f'rating', axis=1, inplace=True)
df_table.drop(f'photos_count', axis=1, inplace=True)

In [ ]:
df_table.drop(f'logo', axis=1, inplace=True)
df_table.drop(f'description', axis=1, inplace=True)
df_table.drop(f'located_in', axis=1, inplace=True)

In [ ]:
df_table.drop(f'query', axis=1, inplace=True)

In [ ]:
df_reordered = df_table.reindex(columns=['name','street','city','state','country_code','postal_code','phone','site','business_status','verified'])

In [ ]:
df_reordered.insert(1, 'nombre', '')
df_reordered.insert(2, 'apellido', '')
df_reordered.insert(3, 'cargo', '')
df_reordered.insert(11, 'facebook', '')
df_reordered.insert(12, 'instagram', '')
df_reordered.insert(13, 'linkedin', '')
df_reordered.insert(14, 'twitter', '')

In [ ]:
df_reordered

In [ ]:
df_reordered.to_excel('hoteles.xlsx', index=False, encoding='UTF-8')